= form_for @job, class: "form" do |f|
  - if @job.errors.any?
    / Display errors
    %p There were errors!
    %ul
      - @job.errors.full_messages.each do |error|
        %li= error

  .form-group
    = f.label :title
    = f.text_field :title, class: "form-control"

  .form-group
    = f.label :description
    = f.text_area :description, rows: 10, class: "form-control"

  .form-group
    = f.label :salary
    = f.text_field :salary, class: "form-control", placeholder: "$"

  .form-group
    = f.label :company
    = f.text_field :company, class: "form-control"

  .form-group
    = f.label :location
    = f.text_field :location, class: "form-control"

  .form-group
    = f.label "Job Type (Full-time, Part-time, Contract, etc)"
    %br
    = f.select :jobtype,  options_for_select(%w[Full-time Part-time Contract Internship]), {}, class: "form-control dropdown"

  .form-group
    = f.label :start_date
    = f.date_field :start_date, class: "form-control"

  .form-group
    = f.label :end_date
    = f.date_field :end_date, class: "form-control"

  %button.btn.btn-primary Post Job
