.container.row
  .col-xs-2
    - if current_user
      = link_to "Post New Job", new_job_path, class: "btn btn-primary"

  .col-xs-5.col-xs-offset-5
    = form_tag jobs_path, method: "get" do
      = text_field_tag :search, params[:search], placeholder: "Search", class: "form-control"

%br
%br

%table.table.table-striped
  %thead
    %tr
      %th= sortable "title", "Title"
      %th= sortable "company"
      %th= sortable "jobtype", "Type"
      %th= sortable "location"
      %th= sortable "end_date", "Active Until"
  %tbody
    - @jobs.each do |job|
      %tr
        %td= link_to job.title, job
        %td= job.company
        %td= job.jobtype
        %td= job.location
        %td= job.end_date
